.img {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 5%;
  top: 21%;
  border-radius: 50px 50px;
}

.title {
  margin-left: 50px;
  color: #860e0e;
}

.profile-box {
  position: relative;
  left: 4%;
  width: 650px;
  height: 130px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.profile-box input {
  background: white;
  position: absolute;
  height: 25px;
  width: 65px;
  text-align: center;
  font-weight: bold;
  color: black;
  cursor: pointer;
  background: white;
  border-radius: 5px;
  left: 85%;
}

.profile-box .profil {
  position: relative;
  margin-left: 20%;
  top: 10%;
}

.pembayaran h5 {
  position: relative;
  left: 4%;
  margin-top: 3%;
  color: #860e0e;
}

.payment {
  position: relative;
  left: 4%;
  width: 650px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid gainsboro;
}

.payment ul {
  list-style-type: none;
}

.payment ul li {
  border-bottom: 1px solid gainsboro;
  padding: 10px;
  width: 105.5%;
  margin: 0 5px 0 5px;
  margin-left: -33px;
}

.rincian {
  position: relative;
  right: -60%;
  width: 440px;
  height: 903px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  margin-top: -71%;
}

.rincian h5 {
  position: relative;
  left: 8%;
  top: 3%;
  border-bottom: 1px solid gainsboro;
  width: 85%;
}

.rincian .detail {
  position: relative;
  margin-left: 8%;
  margin-top: 8%;
}

.rincian h6 {
  position: absolute;
  left: 72%;
  margin-top: -37px;
}

.rincian .input {
  width: 397px;
  height: 38px;
  margin-left: 20px;
  margin-top: 30px;
  background-color: #860e0e;
  color: white;
  border: 1px solid;
  border-radius: 30px 30px;
}

.rincian .input:hover {
  background-color: #761e1e;
}
